@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@media (min-width: 992px){
  .justify-content-center {
    justify-content: flex-start!important;
  }
}

#home-description {
  background:#1c2948!important
}

.navbar {
  /* width: 100%; */
  background: #204d7b;
  /* height: fit-content; */
}

.navbar ul {
  list-style-type: none;
}

.navbar li a {
  color: #FFFFFF;
  text-decoration: none;
}

.navbar li a:hover {
  color: #00B2A0;
}

.post-home .card-title {
  font-family: "PT Sans", Roboto, sans-serif;
  font-weight: 700;
  letter-spacing: .01rem;
}

.home-pagination {
  margin: 10px 0px 20px 15px;
}