{{ partial "header.html" . }}
{{ partial "navigation.html" . }}

<div class="container my-5">
  <div class="row">
    <div class="col-lg-2">
      <aside class="position-fixed" id="share-button">
        <div class="col-sm-12 col-lg-1 position-sticky ml-5 pl-5 mt-6">
          <ul class="list-unstyled">
            <li class="media">
              <a href="http://www.facebook.com/sharer.php?src=bm&u={{ .Permalink }}&t={{ .Title }}"
                onclick="window.open(this.href, 'PCwindow', 'width=550, height=350, menubar=no, toolbar=no, scrollbars=yes'); return false;"
                title="Share on Facebook">
                <span><img class="share-btn" src="/img/icon-facebook.svg" alt="share-fb" /></span>
              </a>
            </li>

            <li class="media my-4">
              <a href="http://twitter.com/intent/tweet?url={{ .Permalink }}&text={{ .Title }}&tw_p=tweetbutton"
                onclick="window.open(this.href, 'PCwindow', 'width=550, height=350, menubar=no, toolbar=no, scrollbars=yes'); return false;"
                title="Share on Twitter">
                <span><img class="share-btn" src="/img/icon-twitter.svg" alt="share-twitter" /></span>
              </a>
            </li>

            <li class="media my-4">
              <a href="https://github.com/saefullohmaslul/blob/master/{{.Params.github }}"
                onclick="window.open(this.href, 'PCwindow', 'width=1000, height=800, menubar=no, toolbar=no, scrollbars=yes'); return false;"
                title="Edit on Gitlab">
                <span><img class="share-btn" src="/img/icon-github.svg" alt="share-github" /></span>
              </a>
            </li>
          </ul>
        </div>
      </aside>
    </div>
    <div class="col-sm-12 col-lg-8 post-outer">
      <article id="post-card" class="card border-0">
        <div class="card-body pb-0">
          {{ partial "post.html" . }}

          <div class="card-footer p-md-4 bg-white">
            <div id="share-page" class="share">
              <a href="https://gitlab.com/saefullohmaslul/content/blob/master/{{ .Params.gitlab }}"
                title="Edit on Gitlab"
                onclick="window.open(this.href, 'PCwindow', 'width=1000, height=800, menubar=no, toolbar=no, scrollbars=yes'); return false;">
                <img class="float-left github-post" src="/img/icon-github.svg" alt="share-github" />
              </a>

              <div class="float-right mt-2">
                <a class="ml-2" href="http://www.facebook.com/sharer.php?src=bm&u={{ .Permalink }}&t={{ .Title }}"
                  title="Share on Facebook"
                  onclick="window.open(this.href, 'PCwindow', 'width=550, height=350, menubar=no, toolbar=no, scrollbars=yes'); return false;">
                  <img class="share-btn down" src="/img/icon-facebook.svg" alt="share-fb" />
                </a>

                <a class="ml-2"
                  href="http://twitter.com/intent/tweet?url={{ .Permalink }}&text={{ .Title }}&tw_p=tweetbutton"
                  title="Share on Twitter"
                  onclick="window.open(this.href, 'PCwindow', 'width=550, height=350, menubar=no, toolbar=no, scrollbars=yes'); return false;">
                  <img class="share-btn down" src="/img/icon-twitter.svg" alt="share-twitter" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </article>

      <div class="card px-4 pb-4 border-0">
        <div class="post-comment">
          <!-- {{template "_internal/disqus.html" .}} -->
        </div>
      </div>
    </div>

    <div class="col-lg-2">

    </div>
  </div>
</div>

<script>
  $(document).scroll(function () {
    $('#share-button').toggle($(this).scrollTop() > 300);
  });

  $(window).scroll(function () {
    var offsetTop = $("#share-page").offset().top;
    var scrollTop = $(window).scrollTop();
    if (scrollTop > offsetTop - 500) {
      $("#share-button").fadeOut(0);
    }
  });
</script>

{{ partial "footer.html" . }}