<nav {{if eq .Permalink .Site.BaseURL}} class="navbar navbar-expand-lg navbar-dark sticky-top" {{else}}
  class="navbar navbar-expand-lg navbar-dark" {{end}}>
  <div class="container">
    <a href="{{"/" | relURL}}" class="navbar-brand">
      <img src="https://res.cloudinary.com/hobikoding/image/upload/v1552640822/blog-icon.svg" height="32"
        class="d-inline-block align-top" alt="Logo">
      <span class="nama-hobi">Hobikoding</span>
    </a>

    <button id="btn-nav" class="navbar-toggler" type="button" data-toggle="collapse">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a href="{{"/" | relURL}}" class="nav-link">
            Home
            <span class="sr-only">(current)</span>
          </a>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link">Link</a>
        </li>

        <li class="nav-item dropdown">
          <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            class="nav-link dropdown-toggle" id="navbarDropdown">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a href="#" class="dropdown-item">Action</a>
            <a href="#" class="dropdown-item">Another Action</a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">Something else here</a>
          </div>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link disabled" tabindex="-1" aria-disabled="true">
            Disabled
          </a>
        </li>
      </ul>

      <form action="/search" class="form-inline my-2 my-lg-0">
        <div class="input-group">
          <input type="search" class="form-control" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-primary my-sm-0" type="submit">
              <img src="/img/icon-search.svg" class="pb-1" height="20px" alt="icon-cari">
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</nav>