<!-- post -->
<div class="post-header">
  <div class="mb-3 d-flex align-items-center">
    {{if isset .Params "author"}}
    {{$author := index .Site.Data.authors .Params.author}}
    <div class="mr-2 d-block">
      <img src="{{ $author.image }}" alt="author" class="rounded-circle mr-1" width="48" height="48" alt="author" />
    </div>
    <div>
      <div>
        <span>
          <a class="align-middle text-dark" href="{{ $author.social.linkedin }}" target="_blank">{{ $author.name }}</a>
        </span>
        <a href="{{$author.follow}}" class="badge author-follow btn ml-2 px-2" target="__blank">Follow</a>
      </div>
      <small class="align-middle text-muted">Update terakhir<time> {{ .Date.Format "02 Jan 2006" }}</time></small>
    </div>
    {{end}}
  </div>
  <h1 class="card-title mb-4">
    {{.Title}}
  </h1>
</div>
<section class="post-content mt-3">
  {{if .Params.thumbnail}}
  <img src="{{with .Params.thumbnail}}{{.}}{{end}}" alt="{{with .Params.Title}}{{.}}{{end}}" class="mb-2 w-100">
  {{end}}
  {{if .Params.source}}
  <p class="text-center text-secondary mb-4"><small>Source: {{.Params.source}}</small></p>
  {{end}}
  {{.Content}}
  <section class="mb-3 mt-4">
    {{with .Params.topic}}
    {{range .}}
    <button class="btn border-0 px-2 pb-1 pt-0" style="background-color: rgba(0, 0, 0, 0.05);">
      <a href="{{$.Site.BaseURL}}topic/{{.|urlize}}/" style="color: rgba(0, 0, 0, 0.54); font-size: 80%;">{{.}}</a>
    </button>
    {{end}}
    {{end}}
  </section>
</section>