<!-- post -->
<div class="post-header">
  <div class="mb-3">
    <img src="https://res.cloudinary.com/hobikoding/image/upload/v1552640822/author-icon.png" alt="author"
      class="rounded-circle mr-1" width="32" height="32" alt="author" />
    <a class="align-middle text-dark" href="{{ .Site.Author.web }}" target="_blank">{{ .Site.Author.name }}</a>
    <small class="align-middle text-muted">· update terakhir
      <time>{{ .Date.Format "02 Jan 2006" }}</time></small>
  </div>
  <h1 class="card-title mb-3">
    {{.Title}}
  </h1>
  <hr>
</div>
<div>
  {{with .Params.topic}}
  {{range .}}
  <span class="badge badge-primary">
    #<a href="{{$.Site.BaseURL}}/topic/{{.|urlize}}/" class="text-white">{{.}}</a>
  </span>
  {{end}}
  {{end}}
</div>
<section class="post-content mb-5 mt-3">
  {{if .Params.thumbnail}}
  <img src="{{with .Params.thumbnail}}{{.}}{{end}}" alt="{{with .Params.Title}}{{.}}{{end}}" class="mb-2 w-100">
  {{end}}
  {{if .Params.source}}
  <p class="text-center text-secondary mb-4"><small>Source: {{.Params.source}}</small></p>
  {{end}}

  {{.Content}}
  {{ $jsFile := .Title | anchorize }}
  {{ $pathWithoutExtension := (printf "%s%s" "js/posts/" $jsFile) }}
  {{ $pathJS := (printf "%s%s" $pathWithoutExtension ".js") }}
  {{ $pathJSX := (printf "%s%s" $pathWithoutExtension ".jsx") }}

  {{ if (fileExists (printf "%s%s" "static/" $pathJS)) }}
  <script type="text/javascript" src="{{$pathJS | absURL}}"></script>
  {{ else if (fileExists (printf "%s%s" "static/" $pathJSX)) }}
  <script type="text/babel" src="{{$pathJSX | absURL}}"></script>
  {{ end }}
</section>