<aside class="position-fixed" id="share-button">
  <div class="col-sm-12 col-lg-1 position-sticky ml-5 pl-5 mt-6">
    <ul class="list-unstyled">
      <li class="media">
        <a href="http://www.facebook.com/sharer.php?src=bm&u={{ .Permalink }}&t={{ .Title }}"
          onclick="window.open(this.href, 'PCwindow', 'width=550, height=350, menubar=no, toolbar=no, scrollbars=yes'); return false;"
          title="Share on Facebook">
          <span><img class="share-btn" src="/img/icon-facebook.svg" alt="share-fb" /></span>
        </a>
      </li>

      <li class="media my-4">
        <a href="http://twitter.com/intent/tweet?url={{ .Permalink }}&text={{ .Title }}&tw_p=tweetbutton"
          onclick="window.open(this.href, 'PCwindow', 'width=550, height=350, menubar=no, toolbar=no, scrollbars=yes'); return false;"
          title="Share on Twitter">
          <span><img class="share-btn" src="/img/icon-twitter.svg" alt="share-twitter" /></span>
        </a>
      </li>

      <li class="media my-4">
        <a href="https://github.com/saefullohmaslul/blob/master/{{.Params.github }}"
          onclick="window.open(this.href, 'PCwindow', 'width=1000, height=800, menubar=no, toolbar=no, scrollbars=yes'); return false;"
          title="Edit on Gitlab">
          <span><img class="share-btn" src="/img/icon-github.svg" alt="share-github" /></span>
        </a>
      </li>
    </ul>
  </div>
</aside>