<div class="p-4 m-2 my-4 dwd-container">
  <div class="media">
    <div class="col-lg-2 col-sm-3 col-4 pr-0 pl-0">
      <img class="mt-0 mb-0 shadow-none" src="{{.Get "icon" }}" alt="icon-software">
    </div>
    <div class="col-lg-10 col-sm-9 ml-lg-2 pl-2">
      <div class="media-body">
        <div class="dwd-title-container">
          <h5 class="mb-0 mt-2 font-weight-bold dwd-title">{{.Get "nama"}}</h5>
        </div>
        <div class="d-flex mt-2">
          <img class="shadow-none m-0 mr-1" height="15px" {{if eq (.Get "os") "windows"}} src="/img/icon-windows.svg"
            title="Windows Software" {{else}} src="/img/icon-apple.svg" title="Apple Software" {{end}}
            alt="icon-download">
          <div class="col-lg-6 col-md-6 col-sm-7 pl-1">
            <div class="progress"
              style="height:0.7rem; margin-top: {{if eq (.Get "os") "windows"}} 0.1rem {{else}} 0.25rem {{end}}">
              <div title="Rating" class="progress-bar bg-primary" role="progressbar" style="width: {{.Get "rating"}}%"
                aria-valuenow="{{.Get "rating"}}" aria-valuemin="0" aria-valuemax="5"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-4 pl-0 pr-0 mt-3">
    <a class="btn btn-primary text-white w-100" href="{{ .Get "link"}}" target="_blank">Download</a>
  </div>
</div>